.Rproj.user
.Rhistory
.RData
.Ruserdata
Alyssa, Zach, Lisa
Data Dictionary.xlsx
Psychometric Analysis Steps in R (1).R
assumptions_outliers_screenshots
mirt
readings
removedCode.docx
tables
udi_CFA_proj
validity_table_temp.docx
